body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: skyblue;
	margin: 0px;
	overflow: hidden;

}

#greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;  
}

#greet h1 {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#title {
  padding-top: 35px;
}

#title {
  margin-top: 35px;
 font-size: 46px;
 letter-spacing: 4px;
}

#clouds {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
}

h1 {
  font-family: 'VT323', monospace;
  display: flex;
  font-size: 19px;
  color: white;
}

#button-container {
  display: flex;
  justify-content: center;
}

#button-container button {
  font-family: 'VT323', monospace;
  font-size: 16px;
  letter-spacing: 6px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color:  #767676;
  cursor: pointer;
  display: block;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: normal;
  min-height: 40px;
  min-width: 60px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-property: transform;
  transition-timing-function: ease-out;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  margin: 6px;
  -webkit-box-shadow: 0 16px 6px -6px rgba(119, 119, 119, 0.28);
  -moz-box-shadow: 0 16px 6px -6px rgba(119, 119, 119, 0.28);
  box-shadow: 0 16px 6px -6px rgba(119, 119, 119, 0.28);
  z-index: 999;
}

#button-container button:hover {
  color: rgb(51, 51, 51); 
  filter: brightness(85%);
  background-color: rgba(149, 220, 233, 0.6);
  transform: scale(1.1);
  color: white;
}

#score {
  display: block;
  position: absolute;
  z-index: 100;
  padding-top: 38px;
  right: 7%;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 48px;
}
